body{
  background:#ede8e1;
  overflow: hidden;
}

div.container {
  color: #35495f;
  font-family: Bar !important;
  font-size: 17px;
  min-height: 98vh;
}
div.close {
  position: fixed;
  right: 1vmin;
  top: 1vmin;
}
div.close > button{
  cursor: pointer;
  font-size: 4vh;
  color: #a11;
  background-color: #aac;  
}
p:nth-child(odd){
  margin:2px;                                                 
  color: #792138;
}
